
main#js-grid
  > .ui.card,
  > .ui.image
    margin: 5px !important

  > .ui.link.card
    transition-property: box-shadow, margin

    &:hover
      transform: none
      margin-top: -3px !important

  > .ui.horizontal.card
    width: 700px
    max-width: 100%
