
.ui.header
  .category.menu
    @media (max-width: 767px)
      display: none

  .category.dropdown
    margin-top: 1em

    @media (min-width: 768px)
      display: none

  .filter.menu
    @media (max-width: 767px)
      > .item
        padding: 0.45em 0.7em

      .right.menu
        margin-top: 0.5em

header.ui.segment
  border: 0
  border-radius: 0
  padding-bottom: 2px
  text-align: center

  .menu > .item > .statistic
    color: inherit
    font-weight: inherit

    > .value,
    > .label
      color: inherit
      font-weight: inherit
    
  .ui.container
    > *:last-child
      margin-bottom: 0

.ui.sidebar
  overflow: visible !important